* {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: auto;
}

body{
    border-style: solid;
    border-width: thin;
    max-width: 600px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 50px;
}

header {
    text-align: center;
    border-bottom: solid;
    border-width: thin;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h1 {
    font-size:45px;
    font-weight: normal;
}

h2 {
    color: #006EB6;
    margin-top: 10px;
    font-weight: normal;
}

p, li {
    margin-top: 20px;
}

#first_paragraph{
    margin-top:50px;
}

#italics {
    font-style: italic;
}

img {
    width: 150px;
    margin: auto;
    display: block;
    margin-top: 50px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #A0D4ED
}