:root {
    --primary-color: #AF1B3F;
    --secondary-color: #EFC69B;
    --text-dark: #473144;
    --primary-font: Helvetica, Arial, sans-serif;
    --headline-font: Georgia, Impact, serif;
}

html {
    font-family: var(--primary-font);
    color: var(--text-dark);
}

ul {
    color: var(--text-secondary-color);
}

h1 {
    color: var(--text-dark);
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

h2 {
    font-size: large;
}

h3 {
    color: var(--primary-color);
    font-size: x-large;
}

.main-nav{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    justify-items: end;
    list-style: none;
    border-top: solid;
    border-bottom: solid;
    border-color: var(--secondary-color);
    max-width: 100%;
    margin: auto 0;
    padding-right: 20px;
    font-size: large;
    line-height: 50px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: auto 20vw;
    column-gap: 10px;
}

#book-container {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: auto auto;
}

#filter {
    text-align: center;
}

.skiptocontent a {
    position: absolute;
    left: -100vw;
    z-index: 1000;
}

.skiptocontent a:focus {
    left: 0;
    top: 0;
}